@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}


a:visited{
	color:#069;}



.mlogin {
	background: none repeat scroll 0 0 #FFF;
    margin: 30px auto ;
	color:#09C;
	  box-shadow:0px 0px 5px black; 
			-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
	 position:relative; 
}

.defecto {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 80%;
    background: #09C;
	position:relative;
	font-family: Tahoma, Geneva, sans-serif;
}

.regtext {
    font-size: 13px;
    margin-top: 40px;
	color:#000;
	font-family: Tahoma, Geneva, sans-serif;
}

.regtext a{
	color:#069;
	font-size:13px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
.regtext a:visited{
	color:#069;}	

.olvido{
	font-size:13px;
	color:#000;
	margin-top:20px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
	.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 95%;
    height: auto;
    background: #fff;
   }
	
	.container h1 {
    color: #069;
    text-align: center;
    font-weight: 300px;
    margin-top: 0px;
}

.container label {
    color: #777;
    font-size: 20px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 20px;
    line-height: 1;
    width: 90%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}


.button{
	margin-top:5%;
	margin-right:8%;
border: solid 1px #fff;
background: #060;
color: #fff;
padding: 7px 12px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
		float: right;
		cursor: pointer;
}

.button:hover{
	background:#066;
	}

.container form label{
	display: block; 
            float: left;
			margin-left:5px; 
            line-height: 25px;
			font-size:17px;
			font-family: Tahoma, Geneva, sans-serif;
			margin-top:10px;
			color:#000;}
			
section{
	box-shadow:0px 0px 5px black; 
			-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
		width:70%;
		margin-top:12%;
		padding:6%;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:16px;
		text-align:justify;
		margin-left:9%;
}

#oculto {
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
}		

/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}


a:visited{
	color:#069;}



.mlogin {
	background: none repeat scroll 0 0 #FFF;
    margin: 55px auto ;
	color:#09C;
	  box-shadow:0px 0px 5px black; 
			-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
	 position:relative; 
}

.defecto {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 80%;
    background: #09C;
	position:relative;
	font-family: Tahoma, Geneva, sans-serif;
}

.regtext {
    font-size: 13px;
    margin-top: 40px;
	color:#000;
	font-family: Tahoma, Geneva, sans-serif;
}

.regtext a{
	color:#069;
	font-size:13px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
.regtext a:visited{
	color:#069;}	

.olvido{
	font-size:13px;
	color:#000;
	margin-top:20px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
	.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 65%;
    height: auto;
    background: #fff;
   }
	
	.container h1 {
    color: #069;
    text-align: center;
    font-weight: 300px;
    margin-top: 0px;
}

.container label {
    color: #777;
    font-size: 20px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 20px;
    line-height: 1;
    width: 90%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}


.button{
	margin-top:10px;
border: solid 1px #fff;
background: #060;
color: #fff;
padding: 7px 12px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
		float: right;
		cursor: pointer;
}

.button:hover{
	background:#066;
	}

.container form label{
	display: block; 
            float: left;
			margin-left:5px; 
            line-height: 25px;
			font-size:17px;
			font-family: Tahoma, Geneva, sans-serif;
			margin-top:10px;
			color:#000;}
			
section{
	box-shadow:0px 0px 5px black; 
			-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
		width:55%;
		margin-top:12%;
		padding:3%;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:16px;
		text-align:justify;
		margin-left:19.5%;
}

#oculto {
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
}

}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}


a:visited{
	color:#069;}



.mlogin {
	float:right;
	background: none repeat scroll 0 0 #FFF;
    margin: 7% auto ;
	color:#09C;
	  box-shadow:0px 0px 5px black; 
			-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
	 position:relative;
	 margin-right:10%; 
}

.defecto {
    margin: 40px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 60%;
    background: #09C;
	position:relative;
	font-family: Tahoma, Geneva, sans-serif;
}

.regtext {
    font-size: 13px;
    margin-top: 40px;
	color:#000;
	font-family: Tahoma, Geneva, sans-serif;
}

.regtext a{
	color:#069;
	font-size:13px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
.regtext a:visited{
	color:#069;}	

.olvido{
	font-size:13px;
	color:#000;
	margin-top:20px;
	font-family: Tahoma, Geneva, sans-serif;
	}
	
	.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 30%;
    height: auto;
    background: #FFF;
   }
	
	.container h1 {
    color: #069;
    text-align: center;
    font-weight: 300px;
    margin-top: 0px;
}

.container label {
    color: #777;
    font-size: 20px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 20px;
    line-height: 1;
    width: 98%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}


.button{
	margin-top:10px;
border: solid 1px #fff;
background: #060;
color: #fff;
padding: 7px 12px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
		cursor: pointer;
		margin-right:0;
		float:right;
}

.button:hover{
	background:#066;
	}

.container form label{
	display: block; 
            float: left;
			margin-left:5px; 
            line-height: 25px;
			font-size:17px;
			font-family: Tahoma, Geneva, sans-serif;
			margin-top:10px;
			color:#000;}

section{
	box-shadow:0px 0px 5px black; 
			-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
		width:25%;
		margin-top:7%;
		padding:1%;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:16px;
		text-align:justify;
		float:left;
		margin-left:10%;
}

#oculto {
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
}

}	